NEXT_PUBLIC_ARC_APPKIT_PROJECT_ID=
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=
NEXT_PUBLIC_USDC_CONTRACT_ADDRESS=
NEXT_PUBLIC_MATCHMIND_CONTRACT_ADDRESS=
NEXT_PUBLIC_PREDICTIONPASS_CONTRACT_ADDRESS=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
API_FOOTBALL_KEY=
GEMINI_API_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
